  @import url("https://use.typekit.net/syb5zbi.css");

/* Typography */

.poppins{
    font-family: poppins,
    sans-serif;
    font-style: normal;
    font-weight: 100;
}

.quicksand{
    font-family: quicksand,
    sans-serif;
    font-style: normal;
    font-weight: 300;
}

.millgoudy{
    font-family: sorts-mill-goudy,
    serif;
    font-style: normal;
    font-weight: 500;
}

.fontSize15{
    font-size: 15px;
}

.fontSize18{
    font-size: 18px;
}

.fontSize20{
    font-size: 20px;
}

.fontSize22{
    font-size: 22px;
}

.fontSize25{
    font-size: 25px;
}

p{
    line-height: 40px;
}

a:hover{
    transition: .2s ease-in;
    color: #dc94ac;
    text-decoration: none;
}

button, a{
     font-family: sorts-mill-goudy,
     serif;
     font-style: normal;
     font-weight: 500;
}

.frontHeroText h1,
.frontHeroText h2 {
    text-shadow: 2px 2px 8px rgba(0,0,0,0.65);
}


/* Colors */

.lightGrey {
    color: #F4F4F6;
}

.white{
    color: white;
}

.pink{
    color:#dc94ac;
}

/* Nav */

.headernav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2.5% 2.5%;
}



.navbar-brand img{
    max-width: 75%;
}

.nav-link:hover{
    color: #dc94ac !important; 
}

/* Hero */

.frontHero{
    margin: 0;
    padding: 0 ;
    left: 0;
    right: 0;
    height: 100vh ;
    height: 100vh ;
    width: 100vw ;
    min-width: 100vw;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.3)),
    url('../assets/img/1.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center;
}


.frontHeroText{
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
    z-index: 1;
}

/* Carousel */
.carousel-control-prev-icon{
    color: #dc94ac !important;
}

/* Contact Overlay Stuff */
.submitBtn{
    background-color:#dc94ac;
}

.contactUl{
    list-style-type: none;
}

.contactLi{
padding: 0;
margin: 0;
}

/* Contact Card */
.cardImg{
    height: 250px;
    background: url('../assets/img/Headshot.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Overlay */
.overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    overflow-x:hidden ;
    background-color: rgba(0, 0, 0, 0.80);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
}

.closeOverlay {
    position: absolute;
    top: .5%;
    right: 5%;
    font-size: 50px;
    cursor: pointer;
}

.closeOverlay:hover{
    cursor: pointer;
    color:rgba(220,148,172,1);
    transition: .20s ease-in-out;
}

.overlayOn {
    display: block;
    transition: .3s ease-in;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    overflow: hidden;
}
html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 414px) {
    .carouselContainer{
        position: relative;
        top: 25%;
    }

    .footerNav {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: aut0;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 414px) {
    .carouselContainer {
        position: relative;
        top: 25%;
    }

    .footerNav {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carouselContainer {
        position: relative;
        top: 25%;
        width: auto;
    }
  
    .footerNav {
        position: absolute;
        bottom: 0;
        left: 0;
        right: auto;
        width: 25%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carouselContainer {
        position: relative;
        top: auto;
        width: auto;
    }
    
    .footerNav {
        position: absolute;
        bottom: 0;
        left: 35vw;
        right: 35vw;
        width: auto;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
